* {
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 12px 12px 68px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    color: #CC0E70;
}

.App {
    margin: 12px 0;
}

input {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px;
    padding: 0.5rem;
    border: 1px solid pink;
    border-radius: 7px;
    width: -webkit-fill-available;
    font-size: 16px;
    margin-top: 5px;
}

form>button {
    background-color: #CC0E70;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px;
    margin-top: 5px;
    width: 100%;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px;
}

.list-group article {
    margin-top: 1px;
}

.bgContain {
    width: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 50px;
}