* {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  color: #805360;
}

input {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px;
  padding: 0.5rem;
  border: 1px solid pink;
  border-radius: 7px;
  width: -webkit-fill-available;
  font-size: 16px;
  margin-top: 5px;
}

button {
  background-color: #802D45;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px;
  margin-top: 5px;
  width: 100%;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
}